input#username {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px; 
    margin: 7px;
}

input#password {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px;
}

input#email {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px;
}

input#firstName {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px; 
}

input#lastName {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px; 
}

label {
    font-size: 14px
}

input#submit {
    background-color: #212121;
    color: azure;
    border-radius: 5px;
    font-size: 12px  
}
