.home-page-main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
   
}

.card {
    background-color: #212121;
    color:azure;
    border-color: #51FF0D
}

input#playerName1.form-control {
    background-color:  #212121;
    color: azure;
    border-color: #E1E7E4
}

input#playerName2.form-control {
    background-color:  #212121;
    color: azure;
    border-color: #E1E7E4
}

input#teamName1.form-control {
    background-color:  #212121;
    color: azure;
    border-color: #E1E7E4
}

input#teamName2.form-control {
    background-color:  #212121;
    color: azure;
    border-color: #E1E7E4
}

button.btn.btn-primary {
    width: 150px;
    height: 40px;
    border-color: azure;
    outline: none;
    color: azure;
    background: #212121;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10px;
    
}

button.btn.btn-primary:before {
    content: '';
    background: linear-gradient(45deg, #51FF0D, #FFC200, #51FF0D, #FFC200, #51FF0D, #FFC200,  #51FF0D, #FFC200, #51FF0D);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button.btn.btn-primary:active {
    color: #212121
}

button.btn.btn-primary:active:after {
    background: transparent;
}

button.btn.btn-primary:hover:before {
    opacity: 1;
}

button.btn.btn-primary:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212121;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
   
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #51FF0D;
    background-color: #212121;
    

}

